<nav class="navbar">
  <div class="container">
    <div class="navbar-content">
      <div class="menu-button-container">
        <button id="botonChico" (click)="toggleMobileMenu()" type="button" class="menu-button" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="menu-icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="navbar-brand">
        <div class="brand-name">Maquina de Turing</div>
      </div>
      <div class="navbar-links">
        <a routerLinkActive="active-link" [routerLink]="['/nodeterminista']" class="nav-link">No Determinista</a>
        <a routerLinkActive="active-link" [routerLink]="['/utm']" class="nav-link">UTM</a>
        <a href="https://github.com/bum-spark/examenTuring" target="_blank" class="nav-link">GitHub</a>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div *ngIf="isMobileMenuOpen" id="mobile-menu" class="mobile-menu">
    <a routerLinkActive="active-link" [routerLink]="['/nodeterminista']" class="mobile-nav-link">No Determinista</a>
    <a routerLinkActive="active-link" [routerLink]="['/utm']" class="mobile-nav-link">UTM</a>
  </div>
</nav>

<router-outlet></router-outlet>
